<a href="https://colab.research.google.com/github/fsluizvictor/machine-learning-project/blob/main/water_quality_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Water Quality Dataset

##Context

How thing essential to human, is very important can classifier the quality water
if is good or no to the consume.


##Content

The water_potability.csv file contains water quality metrics for 3276 different water bodies.

1. pH value:
2. Hardness:
3. Solids (Total dissolved solids - TDS):
4. Chloramines:
5. Sulfate:
6. Conductivity:
7. Organic_carbon:
8. Trihalomethanes:
9. Turbidity:
10. Potability:

#Imports and load data

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
def file_path_name(file_name):
  return os.sep.join(['data'] + [file_name])

In [ ]:
file_name = 'water_potability.csv'
file_path = file_path_name(file_name)
data = pd.read_csv(file_path, sep=',')

#Data Analysis

In [ ]:
data.head()

         ph    Hardness        Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890455  20791.318981  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.057858  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.541732  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.417441  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.986339  ...        31.997993   4.075075           0

[5 rows x 10 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [ ]:
data.describe()

                ph     Hardness  ...    Turbidity   Potability
count  2785.000000  3276.000000  ...  3276.000000  3276.000000
mean      7.080795   196.369496  ...     3.966786     0.390110
std       1.594320    32.879761  ...     0.780382     0.487849
min       0.000000    47.432000  ...     1.450000     0.000000
25%       6.093092   176.850538  ...     3.439711     0.000000
50%       7.036752   196.967627  ...     3.955028     0.000000
75%       8.062066   216.667456  ...     4.500320     1.000000
max      14.000000   323.124000  ...     6.739000     1.000000

[8 rows x 10 columns]

In [ ]:
data.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [ ]:
data.dropna(inplace=True)

#Division in Train and Test

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

SEED = 23
np.random.seed(SEED)

X = data.drop('Potability', axis = 1)
y = data['Potability']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, stratify = y)

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test=scaler.transform(X_test)


print('Dataset to train : {} - Dataset to test: {}'.format(X_train.shape[0], X_test.shape[0]))

Dataset to train : 1608 - Dataset to test: 403

#Cross Validation

In [ ]:
def accuracy_means_range(results):
  mean = results.mean()
  dv = results.std()
  print('Average accuracy: {:.2f}%'.format(mean*100))
  print('Accuracy range: [{:.2f}% ~ {:.2f}%]'.format((mean - 2*dv)*100, (mean + 2*dv)*100))

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

SEED = 42
np.random.seed(SEED)

cv = StratifiedKFold(n_splits = 5, shuffle = True)

model = DecisionTreeClassifier(max_depth=3)
results = cross_val_score(model, X_train, y_train, cv = cv)
accuracy_means_range(results)

Average accuracy: 60.95%
Accuracy range: [58.15% ~ 63.74%]

#Hyperparameters

In [ ]:
max_depth = [3, 2, 4]

for item in max_depth:
  np.random.seed(SEED)
  cv = StratifiedKFold(n_splits = 5, shuffle = True)
  model = DecisionTreeClassifier(max_depth=item)
  results = cross_val_score(model, X_train, y_train, cv = cv, scoring = 'accuracy')
  mean = results.mean()
  dv = results.std()
  print('Average accuracy: - Max Depth {}: {:.2f}%'.format(item, mean*100))
  print('Accuracy range - Max Depth {}: [{:.2f}% ~ {:.2f}%]\n'.format(item, (mean - 2*dv)*100, (mean + 2*dv)*100))

Average accuracy: - Max Depth 3: 60.95%
Accuracy range - Max Depth 3: [58.15% ~ 63.74%]

Average accuracy: - Max Depth 2: 60.51%
Accuracy range - Max Depth 2: [57.84% ~ 63.18%]

Average accuracy: - Max Depth 4: 62.13%
Accuracy range - Max Depth 4: [59.18% ~ 65.08%]

#Models using Cross Validation

In [ ]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

np.random.seed(SEED)

cv = StratifiedKFold(n_splits = 5, shuffle = True)

models = [
          ('Árvore de Decisão',DecisionTreeClassifier(max_depth=3)),
          ('SVC',SVC()),
          ('Regressão Logística',LogisticRegression(solver='liblinear')),
          ('Random Forest',RandomForestClassifier(n_estimators=100)),
          ('Perceptron',Perceptron()),
          ('Multi-layer Perceptron',MLPClassifier()),
          ('K-Neighbors Classifier', KNeighborsClassifier(n_neighbors=10)),
]

for name,item in models:
  np.random.seed(SEED)
  results = cross_val_score(item, X_train, y_train, cv = cv, scoring = 'accuracy')
  mean = results.mean()
  dv = results.std()
  print('Average accuracy: - Model {}: {:.2f}%'.format(name, mean*100))
  print('Accuracy range - Model {}: [{:.2f}% ~ {:.2f}%]\n'.format(name, (mean - 2*dv)*100, (mean + 2*dv)*100))

Average accuracy: - Model Árvore de Decisão: 60.95%
Accuracy range - Model Árvore de Decisão: [58.15% ~ 63.74%]

Average accuracy: - Model SVC: 67.23%
Accuracy range - Model SVC: [60.36% ~ 74.09%]

Average accuracy: - Model Regressão Logística: 59.70%
Accuracy range - Model Regressão Logística: [58.98% ~ 60.43%]

Average accuracy: - Model Random Forest: 68.22%
Accuracy range - Model Random Forest: [63.56% ~ 72.88%]

Average accuracy: - Model Perceptron: 53.24%
Accuracy range - Model Perceptron: [47.82% ~ 58.66%]

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

Average accuracy: - Model Multi-layer Perceptron: 67.29%
Accuracy range - Model Multi-layer Perceptron: [63.81% ~ 70.77%]

Average accuracy: - Model K-Neighbors Classifier: 64.68%
Accuracy range - Model K-Neighbors Classifier: [58.28% ~ 71.08%]

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,